<div class="row">
  <aside class="col-md-4">
    <section class="staff_info">
      <h1>
        <%= @staff.name %>
      </h1>
      <%= image_tag @staff.image.thumb350.url, class: 'image' if @staff.image? %>
    </section>
    
    
  </aside>
  <div class="col-md-8">
    <% if @staff.microposts.any? %>
      <h3>記事一覧 (<%= @staff.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <% end %>
  </div>
</div>