<% if logged_in_as_staff? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="staff_info">
        <%= render 'helpers/staff_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'helpers/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿済みの記事一覧</h3>
      <%= render 'helpers/feed' %>
    </div>
  </div>
<% elsif logged_in? %> 
  <%= render 'helpers/time_table' %>
<% else %>
<div class="center jumbotron">
  <h1>Thank you for comming!!</h1>
  <h2>ユーザー登録をしていただくと、予約をとることができます！</h2>
  <div class="btn">
    <%= link_to "登録する", signup_path, class: "btn btn-lg btn-warning" %>
  </div>
</div>
<%= render 'helpers/time_table' %>
<% end %>
