<% if logged_in_as_staff? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="staff_info">
        <%= render 'helpers/staff_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'helpers/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿済みの記事一覧</h3>
      <%= render 'helpers/feed' %>
    </div>
  </div>
<% elsif logged_in? %> 
  <%= render 'helpers/time_table' %>
<% else %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="right-contents">
        <img class="img-right" src="<%= asset_path "hoge.jpg" %>" />
      </div>
    </div>
  </div>
</div>
<div class="center jumbotron">
  <h1>Thank you for comming!!</h1>
  <h2>ユーザー登録をしていただくと、予約をとることができたり、１週間先までの予約表も確認できます！</h2>
  <div class="btn">
    <%= link_to "登録する", signup_path, class: "btn btn-lg btn-warning" %>
  </div>
</div>
<%= render 'helpers/time_table' %>
<% end %>

<% if logged_in_as_staff? %>
<div class="jumbotron">
  <h3>製作者からのコメント</h3><br>
  <h5>
    ・なんとかチュートリアルのマルパクリです。オリジナル機能は何一つありません。すみません。<br>
    ・ブログを投稿することができます。<br>
    ・院の情報や、スタッフの日常など発信することができます。<br>
    ・写真を投稿できます。その際サイズが大きい写真はリサイズされます。<br>
  </h5>
</div>
<% elsif logged_in? %>
<div class="jumbotron">
  <h3>製作者からのコメント</h3><br>
  <h5>
    ・日時を選択することで予約できます。<br>
    ・一週間後までの予約表を表示できます。<br>
    ・ユーザーとしてログインしていると、匿名性を考慮して、予約表に名前は表示されません。スタッフとしてログインすると名前が表示されます。<br>
    ・予約を取るとフラッシュが表示されます。<br>
    ・予約を２つ以上取ろうとすると、「ご予約は一人につき一つまでとなっております」というフラッシュがでます。<br>
    ・予約枠いっぱいの時間帯を選択すると「予約は枠が上限に達しているため、受け付けられません」というフラッシュがでます。<br>
  </h5>
</div>
<% else %>
<div class="jumbotron">
  <h3>製作者からのコメント</h3><br>
  <h5>・サイトを訪れた瞬間に今日の予約状況がすぐにわかるようにルートに予約表を表示させています。</h5>
</div>
<% end %>