<div class="home_table">
  
<table class="table table-bordered table-dark">
    <%= link_to "#{@day1}日の予約表を見る", stafftimetable_path %><br><br>
    <%= link_to "#{@day2}日の予約表を見る", day2_staff_path %><br><br>
    <%= link_to "#{@day3}日の予約表を見る", day3_staff_path %><br><br>
    <%= link_to "#{@day4}日の予約表を見る", day4_staff_path %><br><br>
    <%= link_to "#{@day5}日の予約表を見る", day5_staff_path %><br><br>
    <%= link_to "#{@day6}日の予約表を見る", day6_staff_path %> ←閲覧中<br><br>
    <%= link_to "#{@day7}日の予約表を見る", day7_staff_path %><br><br>
  <thead>
    <tr>
      <td colspan="5"><h4><%= @day6 %>の予約状況</h4></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:00~9:30</td>
      <% @times0900.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>

    <tr>
      <td>9:30~10:00</td>
      <% @times0930.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>10:00~10:30</td>
      <% @times1000.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>10:30~11:00</td>
      <% @times1030.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>11:00~11:30</td>
      <% @times1100.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>11:30~12:00</td>
      <% @times1130.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>12:00~12:30</td>
      <% @times1200.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="5">休診</td>
    </tr>
    <tr>
      <td>15:00~15:30</td>
      <% @times1500.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>15:30~16:00</td>
      <% @times1530.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>16:00~16:30</td>
      <% @times1600.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>17:30~17:00</td>
      <% @times1630.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>17:00~17:30</td>
      <% @times1700.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>17:30~18:00</td>
      <% @times1730.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>18:00~18:30</td>
      <% @times1800.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>18:30~19:00</td>
      <% @times1830.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>19:00~19:30</td>
      <% @times1900.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
    <tr>
      <td>19:30~20:00</td>
      <% @times1930.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>