<div class="center jumbotron">
<% if @timetable.nil? %>
<h3>予約が存在しません</h3>
  <% else %>
  <h3><%= @timetable.user_name %>様の次のご予約は</h3>
  <h3><%= @timetable.date %>日の<%= @timetable.hour %>時<%= @timetable.minute %>時からです</h3>
  <%= link_to "予約を取り消す", @timetable, method: :delete, data: { confirm: "予約を消去します。よろしいですか？" } %>
<% end %>
</div>

<div class="jumbotron">
  <h3>製作者からのコメント</h3><br>
  <h5>
    ・予約をとっていれば日時が表示されます。<br>
    ・本人以外アクセスできないようになってます。<br>
  </h5>
</div>