<p id="notice"><%= notice %></p>

<h1>Timetable2s</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Nop</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timetable2s.each do |timetable2| %>
      <tr>
        <td><%= timetable2.user_id %></td>
        <td><%= timetable2.NOP %></td>
        <td><%= timetable2.time %></td>
        <td><%= link_to 'Show', timetable2 %></td>
        <td><%= link_to 'Edit', edit_timetable2_path(timetable2) %></td>
        <td><%= link_to 'Destroy', timetable2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable2', new_timetable2_path %>
