<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @timetable2.user_id %>
</p>

<p>
  <strong>Nop:</strong>
  <%= @timetable2.NOP %>
</p>

<p>
  <strong>Time:</strong>
  <%= @timetable2.time %>
</p>

<%= link_to 'Edit', edit_timetable2_path(@timetable2) %> |
<%= link_to 'Back', timetable2s_path %>
