<%= form_for(@micropost) do |f| %>
  <%= render 'helpers/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "文字を入力してください..." %>
  </div>
    <%= f.submit "投稿する", class: "btn btn-primary", data: { confirm: "記事を投稿します。よろしいですか？"} %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('ファイルの最大サイズは5MBまでです。5MB以下にファイルを変更してください。');
    }
  });
</script>