<h1>こちらから予約をお取りください</h1>
<% if logged_in? %>
  <%= form_for(@timetable) do |f| %>
    <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d") %>
    <%= f.select :hour, [["9時", "9"], 
                         ["10時", "10"],
                         ["11時", "11"],
                         ["12時", "12"],
                         ["15時", "15"],
                         ["16時", "16"],
                         ["17時", "17"],
                         ["18時", "18"],
                         ["19時", "19"],], :prompt => "時間を選択してください" %>
                         
    <%= f.select :minute, [["00分", "00"], 
                           ["30分", "30"]],  :prompt => "分を選択してください" %>
    <%= f.submit %>
  <% end %> 
<% end %>

<div class="home_table">  
<table class="table table-bordered table-dark">
  
  <thead>
    <tr>
      <td colspan="5"><h4>本日の予約状況</h4></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:00~9:30</td>
        <% (@times0900.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times0900.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>9:30~10:00</td>
        <% (@times0930.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times0930.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>10:00~10:30</td>
        <% (@times1000.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1000.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>10:30~11:00</td>
        <% (@times1030.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1030.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>11:00~11:30</td>
        <% (@times1100.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1100.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>11:30~12:00</td>
        <% (@times1130.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1130.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>12:00~12:30</td>
        <% (@times1200.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1200.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td colspan="5">休診</td>
    </tr>
    <tr>
      <td>15:00~15:30</td>
        <% (@times1500.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1500.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>15:30~16:00</td>
        <% (@times1530.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1530.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>16:00~16:30</td>
        <% (@times1600.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1600.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>16:30~17:00</td>
        <% (@times1630.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1630.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>17:00~17:30</td>
        <% (@times1700.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1700.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>17:30~18:00</td>
        <% (@times1730.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1730.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>18:00~18:30</td>
        <% (@times1800.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1800.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>18:30~19:00</td>
        <% (@times1830.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1830.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>19:00~19:30</td>
        <% (@times1900.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1900.count).times do %><td>受付中</td><% end %>
    </tr>
    <tr>
      <td>19:30~20:00</td>
        <% (@times1930.count).times do |f| %><td><strong>〜予約済み〜</strong></td><% end %>
        <% (4-@times1930.count).times do %><td>受付中</td><% end %>
    </tr>
  </tbody>
</table>
</div>


