<div class="home_table">
  
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <td colspan="5"><h4>本日の予約状況</h4></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:00~9:30</td>
      <% @time0900.each do |f| %>
      <td><%= f.user_name %></td>
      <% end %>
    </tr>

    <tr>
      <td>9:30~10:00</td>
      <% @time0930.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>10:00~10:30</td>
      <% @time1000.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>10:30~11:00</td>
      <% @time1030.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>11:00~11:30</td>
      <% @time1100.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>11:30~12:00</td>
      <% @time1130.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>12:00~12:30</td>
      <% @time1200.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="5">休診</td>
    </tr>
    <tr>
      <td>15:00~15:30</td>
      <% @time1500.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>15:30~16:00</td>
      <% @time1530.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>16:00~16:30</td>
      <% @time1600.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>17:30~17:00</td>
      <% @time1630.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>17:00~17:30</td>
      <% @time1700.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>17:30~18:00</td>
      <% @time1730.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>18:00~18:30</td>
      <% @time1800.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>18:30~19:00</td>
      <% @time1830.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>19:00~19:30</td>
      <% @time1900.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
    <tr>
      <td>19:30~20:00</td>
      <% @time1930.each do |f| %>
      <td><%= f.user_id %></td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>