<div class="home_table">
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <td colspan="5"><h4>本日の予約状況</h4></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:00~9:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>9:30~10:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>10:00~10:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>10:30~11:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11:30~12:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:00~12:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="5">休診</td>
    </tr>
    <tr>
      <td>15:00~15:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>15:30~16:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>16:00~16:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>17:30~17:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>17:00~17:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr><tr>
      <td>17:30~18:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>18:00~18:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>19:00~19:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>19:30~20:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>


<%= form_for(@timetable) do |f| %>
  <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d") %>
  <%= f.select :hour, [["9時", "9"], 
                       ["10時", "10"],
                       ["11時", "11"],
                       ["12時", "12"],
                       ["15時", "15"],
                       ["16時", "16"],
                       ["17時", "17"],
                       ["18時", "18"],
                       ["19時", "19"],],  :prompt => "時間を選択してください" %>
                       
  <%= f.select :minute, [["00分", "00"], 
                         ["30分", "30"]],  :prompt => "分を選択してください" %>
  <%= f.submit %>
<% end %> 

