<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "成田駅前整骨院", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップへ戻る", root_path %></li>
        <li><%= link_to "ログイン", login_path %></li>
        <li><%= link_to "キャンペーン", campaign_path %></li>
        <li><%= link_to "スタッフ一覧", '#' %></li>
        
        <% if logged_in? %>
          <li><%= link_to "予約表", timetable_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "アカウント情報", current_user %></li>
              <li><%= link_to "アカウント編集", edit_user_path(current_user) %></li>
              <li><%= link_to "コンタクト", contact_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        
        
        <% if logged_in_as_staff? %>
          <li><%= link_to "Users", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_staff %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", stafflogout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", stafflogin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>